#waybar {
	background-color: transparent;
}
#waybar > box {
	margin: 0px;
	background-color: @main-bg;
	border-radius: 10px;
  opacity: 0.95;
  border: 1px solid #ffffff;
}

/*--------------
    tooltips
--------------*/

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip > box {
	padding: 0 6px;
}
