#waybar {
	background-color: @outline;
}
#waybar > box {
	margin: 0px;
	background-color: @main-bg;
}

/*--------------
    tooltips
--------------*/

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip > box {
	padding: 0 6px;
}
